h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-board {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1024px) {
    .image-board {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .image-board {
        grid-template-columns: repeat(1, 1fr);
    }
}
