.product-card {
    background: rgb(180, 171, 171);
    width: 400px;
    height: 500px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 20px;
}

.product-card:hover {
    background: rgb(218, 208, 208);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(218, 208, 208, 0.5);
    transform: translateY(-2%) scale(1.08);
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #27ae60;
    margin: 10px;
    display: inline-block;
}
