.lazy-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lazy-image {
    border: 4px solid #645a5a;
    border-radius: 4px;
    margin: 10px;
    position: "relative";
}
